{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}
<div class="home-title">
    
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'apps' %}">
                <span class="material-symbols-outlined icon">
                    phone_iphone
                </span>
               Phone
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_tablet' %}">
                <span class="material-symbols-outlined icon">
                    tablet_android
                </span>
               Tablet
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_tv' %}">
                <span class="material-symbols-outlined icon">
                    tv
                </span>
               TV
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_chromebook' %}">
                <span class="material-symbols-outlined icon">
                    laptop_chromebook
                </span>
               Chromebook
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_watch' %}">
                <span class="material-symbols-outlined icon">
                    watch
                </span>
                Watch
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_car' %}">
                <span class="material-symbols-outlined">
                    directions_car
                    </span>
                Car
            </a>
        </div>
    </div>
</div>


<div class="tab-heading">
    <h3 class="tab-title1">ChromeOS recommendations</h3>

</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-12">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-12">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-5">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>

<div class="tab-heading">
    <h3 class="tab-title1">Creativity on Chromebooks</h3>
    <h6 class="tab-title2">Apps to boost your creativity</h6>


</div>

<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-8">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-8">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>

<div class="tab-heading">
    <h3 class="tab-title1">Featured apps</h3>

</div>
<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-9">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-9">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-2">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>

{% endblock %}


