{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}
<div class="home-title">
    
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'apps' %}">
                <span class="material-symbols-outlined icon">
                    phone_iphone
                </span>
               Phone
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_tablet' %}">
                <span class="material-symbols-outlined icon">
                    tablet_android
                </span>
               Tablet
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_tv' %}">
                <span class="material-symbols-outlined icon">
                    tv
                </span>
               TV
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_chromebook' %}">
                <span class="material-symbols-outlined icon">
                    laptop_chromebook
                </span>
               Chromebook
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_watch' %}">
                <span class="material-symbols-outlined icon">
                    watch
                </span>
                Watch
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'app_car' %}">
                <span class="material-symbols-outlined">
                    directions_car
                    </span>
                Car
            </a>
        </div>
    </div>
</div>

<div class="tab-heading">
    <h3 class="tab-title1">Featured apps</h3>

</div>
<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-9">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-9">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-2">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>


<div class="home-heading">
    <h3 class="home-title1">Must-have games</h3>

</div>



<div class="gallery">

<div class="round-whitebutton">
    <div class="arrow1" id="left-button-1">
        <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
            chevron_left
            </span>
    </div>
    <div class="arrow" id="right-button-1">
        <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
            chevron_right
            </span>
    </div>
</div>

<div class="home-gallery-2">
    <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade mymodel" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/-ndg1eEhEpg?autoplay=1&loop=1&playlist=-ndg1eEhEpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
    </div>
    </div>
  </div>
    <!-- <div id="video-container"></div> -->
    <div class="galley-inside">
        <!-- <button id="play-button">Play Video</button> -->
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} ">
        <button  class="sroll-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img   style="position: relative; height:30px; width:30px; opacity: 1;" src="{% static 'images/play.png' %}">
        </button>
        <div class="below-card">
            <img src="/static/images/car.png">
            <div class="below-heading">
                <h4>Drift Max Pro Car Racing Game</h4>
                <div class="below-sub">
                    <h4>Racing</h4>
                    <h4>4.5<img src="{% static 'images/star.png' %}"></h4>
                </div>
            </div>    
        </div>      
    </div>
    <div class="galley-inside">
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} "> 
    </div>
    <div class="galley-inside">
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} ">
    </div>
    <div class="galley-inside">
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} ">
    </div>
    <div class="galley-inside">
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} ">
    </div>
    <div class="galley-inside">
        <img  class="main-image" src=" {% static 'images/drift-max.jpg' %} ">
    </div>   
</div>
</div>
   
<div class="tab-heading">
    <h3 class="tab-title1">Movies + TV</h3>
</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-13">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-13">
            <span class="material-symbols-outlined" style="left: 16px;position: relative;top: 16px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-6">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>


{% endblock %}


