{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}

<div class="black-big-details">
    <div class="black-right">
        <div class="h-white-heading">
            <h6 class="white-inside-black">Township</h6>
            <div class="green-heading">
                <h4 class="green-head">Playrix</h4>
                <h6 class="small-heading">Contains adsIn-app purchases</h6>
            </div>
            <div class="icon-star-rating">
                <img src="{% static '/images/unnamed.png' %}" alt="" class="rating-image">
                <div class="star-rating">
                    <h3 class="rating">4.6
                        <img width="15" height="15" src="{% static '/images/w-star.png' %}">                    
                    </h3>
                    <h6 class="rating-below">10.9M reviews</h6>
                </div>
                <div class="vertical-line"></div>
                <div class="downloads">
                    <h3 class="no-downloads">100M+</h3>
                    <h6 class="below-downloads">Downloads</h6>
                </div>
                <div class="vertical-line"></div>
                <div class="rated">
                    <img src="{% static 'images/three.png' %}" alt="" class="rated-plus">
                    <h6 class="rated-titles">Rated for 3+</h6>
                </div>
                  
            </div>
            <div class="four-green-buttons">
                <div class="first-green-button">Install on Windows</div>
                <div class="second-green-button">Install on more devices</div>
                <div class="three-green-button"><img  width="15" height="15" src="{% static 'images/share.png' %}" alt=""> Share</div>
                <div class="four-green-button"><img  width="15" height="15" src="{% static 'images/bookmark.png' %}" alt=""> Share</div>

            </div>
          <div class="black-below-text">
            Google Play Games beta is required to install this game on Windows. By downloading the beta and the game, you agree to the Google Terms of Service and Google Play Terms of Service. Learn more.
          </div>
        </div>
        

    </div>
    <div class="the-game-video">
        <video class="g-video" autoplay loop>
            <source src="https://play-games.googleusercontent.com/vp/mp4/1280x720/L46PkGz3SqI.mp4" type="video/mp4">
        </video>
        <div class="video-layout"></div>
    </div>
</div>
{% endblock %}