{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}

<div class="black-big-details">
    <div class="black-right">
         <h6 class="white-inside-black">Township</h6>

    </div>
    <div class="the-game-video">
        <video class="g-video" autoplay loop>
            <source src="https://play-games.googleusercontent.com/vp/mp4/1280x720/L46PkGz3SqI.mp4" type="video/mp4">
        </video>
        <div class="video-layout"></div>
    </div>
</div>
{% endblock %}