{% load static %}


<div class="footer-line"></div>

<div class="grid-container">
    <div class="item1">Google Play</div>
    <div class="item2">Children and family</div>
    <div class="google-foot-row">
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Play Pass</a>
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Play Points</a>
        <a href="#"   onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f">Gift cards</a>
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f">Redeem</a>
        <a href="#"   onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Refund policy</a>

    </div>
    <div class="google-foot-row">
        <a href="#" onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f" >Play Points</a>
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f">Family sharing</a>
        

    </div>

</div>

<div class="low-bottom">
    <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Terms of service</a>
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Privacy </a>
        <a href="#"   onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f">About Google Play</a>
        <a href="#"  onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'" style="text-decoration:none; color:#7f7f7f">Developers</a>
        <a href="#"   onMouseOver="this.style.color='green'"
        onMouseOut="this.style.color='#7f7f7f'"  style="text-decoration:none; color:#7f7f7f">Google Store</a>

        <a href="#" style="text-decoration:none ; color:#7f7f7f;">All prices include GST.</a>
        <div class="low-bottom-right">
            <img src="{% static 'images/india.png' %}" style="width: 24px;height: 18px;">
            <a href="#" style="text-decoration:none ; color:#7f7f7f;">India (English (United Kingdom))</a>
        </div>
</div>