{% load static %}


<div class="footer-line"></div>

<div class="grid-container">
    <div class="item1">Google Play
        
    </div>
    <div class="item2">Children and family</div>
    <div class="google-foot-row">
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Play Pass</a>
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Play Points</a>
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Gift cards</a>
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Redeem</a>
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Refund policy</a>

    </div>
    <div class="google-foot-row">
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Play Points</a>
        <a href="#" style="text-decoration:none; color:rgb(88, 88, 88)">Family sharing</a>
        

    </div>

</div>