{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}

<div class="movies-banner">
    <div class="movie-banner-title">
         <h3 class="banner-heading">Rent or buy films on YouTube or Google TV</h3>
         <h6 class="banner-sub-heading">Starting 17 January 2024, Movies will not be available on Google Play, but you can make purchases and find your past purchases on YouTube or Google TV</h6>
         <h6 class="red-sub-heading">Learn more</h6>

    </div>
    <div class="movie-banner-image">
        <img src="{% static 'images/g-y.png'%}" alt="" class="yg-image">
    </div>
</div>
{% endblock %}