{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}

<div class="home-title">
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="/">
                <span class="material-symbols-outlined icon">
                    desktop_windows
                </span>
               Windows
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'phone' %}">
                <span class="material-symbols-outlined icon">
                    phone_iphone
                </span>
               Phone
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'tablet' %}">
                <span class="material-symbols-outlined icon">
                    tablet_android
                </span>
               Tablet
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'tv' %}">
                <span class="material-symbols-outlined icon">
                    tv
                </span>
               TV
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'chromebook' %}">
                <span class="material-symbols-outlined icon">
                    laptop_chromebook
                </span>
               Chromebook
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'watch' %}">
                <span class="material-symbols-outlined icon">
                    watch
                </span>
                Watch
            </a>
        </div>
    </div>
</div>



{%  endblock %} 