{% extends 'base.html' %}

{% block head %}
<title>Android Apps on Google play</title>
{% endblock %}


{% block content %}
{% load static %}
<div class="home-title">
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="/">
                <span class="material-symbols-outlined icon">
                    desktop_windows
                </span>
               Windows
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'phone' %}">
                <span class="material-symbols-outlined icon">
                    phone_iphone
                </span>
               Phone
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'tablet' %}">
                <span class="material-symbols-outlined icon">
                    tablet_android
                </span>
               Tablet
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'tv' %}">
                <span class="material-symbols-outlined icon">
                    tv
                </span>
               TV
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'chromebook' %}">
                <span class="material-symbols-outlined icon">
                    laptop_chromebook
                </span>
               Chromebook
            </a>
        </div>
    </div>
    <div class="h-round-button">
        <div class="content-home">
            <a class="green-a" href="{%  url 'watch' %}">
                <span class="material-symbols-outlined icon">
                    watch
                </span>
                Watch
            </a>
        </div>
    </div>
</div>


    
<div class="tab-heading">
    <h3 class="tab-title1">Relax with games for your watch</h3>
    <h6 class="tab-title2">Forget the time</h6>
</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-10">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-10">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-3">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>

   
<div class="tab-heading">
    <h3 class="tab-title1">Watch faces for gamers</h3>
    <h6 class="tab-title2">Level up your wrist</h6>
</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-11">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-11">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-4">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>


   
<div class="tab-heading">
    <h3 class="tab-title1">Watch faces for gamers</h3>
    <h6 class="tab-title2">Level up your wrist</h6>
</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-12">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-12">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-5">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>


<div class="watch-banner">
    <div class="watch-caption">
        <h3 class="watch-heading">
            More apps for your watch
        </h3>
        <h6 class="watch-sub-head">
            From maps to music
        </h6>
    </div>
    <div class="watch-image">
        <img src="{% static '/images/watch.png' %}" alt="watch" class="watch-main-image">
    </div>
</div>


   
<div class="tab-heading">
    <h3 class="tab-title1">Watch faces for gamers</h3>
    <h6 class="tab-title2">Level up your wrist</h6>
</div>


<div class="tablet-gallery">

  

    <div class="tab-round-whitebutton">
        <div class="tab-arrow1" id="left-button-13">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_left
                </span>
        </div>
        <div class="tab-arrow" id="right-button-13">
            <span class="material-symbols-outlined" style="left: 14px;position: relative;top: 14px;">
                chevron_right
                </span>
        </div>
    </div>
        
    
    
<div class="tablet-6">
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
        <p>Call of Duty®: Warzone™ Mobile</p>
        <h6 class="grey-scale">4.5<img class="grey-star" src="{% static 'images/star.png' %}"></h6>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>
<div class="tablet-inside">

    <img  class="tablet-image" src="{% static '/images/callofduty.png' %}">
    <div class="tab-content">
      <p>Call of Duty®: Warzone™ Mobile</p>
    </div>
</div>

</div>



</div>



<div class="blue-watch-banner">
    <div class="watch-caption">
        <h3 class="watch-heading">
            Featured watch faces
        </h3>
        <h6 class="watch-sub-head">
            Find your look
        </h6>
    </div>
    <div class="watch-image">
        <img src="{% static '/images/blue-watch.png' %}" alt="watch" class="watch-main-image">
    </div>
</div>


{%  endblock %} 