*{
    margin:0;
    padding:0;
    
   
}


.first-nav{
    display: flex !important;
    background-color: white !important;
}

@media screen and (max-width:830px){
    .first-nav{
        height: 6vh;
    }
}
@media screen and (max-width:670px)
{
    .first-nav{
        height:8vh;
    }
}

@media screen and (max-width:575px)
{
    .first-nav{
        height:10vh;
    }
}
.ahead{
  font-size: 1.5rem !important;
  font-weight: 600;
  color: #6b6b6b !important;
}

.atitle{
    
    font-weight: 523 !important;
}

.begining{
    padding-left: 30px !important;
    flex-wrap: nowrap !important;
}




.greenswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    
    width:51px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #259d04;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
    


}


.greenswitch:focus-within::after{
    transform: scaleX(1);


}

.greenswitch:focus-within > .green-cc
{
    color:green
}

.redswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    width:58px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #e70909;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
}


.redswitch:focus-within::after{
    transform: scaleX(1);


}

.redswitch:focus-within > .red-cc
{
    color:red
}


.blackswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    width:70px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #030303;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
}


.blackswitch:focus-within::after{
    transform: scaleX(1);


}
.blackswitch:focus-within > .black-cc
{
    color:black
}



.search{
    background-color: white;
    border:0;
    border-radius: 50%;
}



.search-container {
    position: absolute;
    left:33%;
    border-style: solid;
    display: none;
  
}


.search:focus-within > .search-container{
    display: initial;
   
}

/* .search:act{
    display: none !important;
} */


.input-search{
  width: 500px;
  border: 0;
  padding-left: 20px;
}

#dispearing{
    display: block!important;
    opacity: 1;
    
}

 @media screen and (max-width:840px)
{
    #dispearing{
  display: flex;
  opacity: 1;
  flex-direction: row;
  position: relative;
  top: 2rem;
    }
}

@media screen and(max-width:670px)
{
    
    #dispearing{
        left: -6rem;
        margin-bottom: -36px;
        }
    
}



 .dispear-ul{
    gap:4%;
    flex-direction: row!important;

 }
 
 
@media screen and (max-width:840px)
{
    .dispear-ul{
        gap:25px;
    }
}
 @media screen and (max-width:670px)
{
    .dispear-ul{
        gap: 9%;
        left: -100px;
        position: relative;
        bottom: -22px;
    }
}




@media screen and (max-width:575px)
{
    .dispear-ul{
        display: none !important;
    }
}


.appear-second{
    display: none !important;;
}

@media screen and(max-width:575px){
    #dispearing-1{
        display: block!important;
        opacity: 1;
    }
}



@media screen and (max-width:575px)
{
    .appear-second{
        display: flex !important;
        gap: 11%;
        flex-direction: row !important;
        padding-left: 5% !important;
        width: 90vw;
    }
}
@media screen and (max-width:432px)
{
    .appear-second{
        display: flex !important;
        gap: 8%;
        flex-direction: row !important;
        padding-left: 5% !important;
        width: 90vw;
    }
}
.appear-second .atitle{
    color: #6b6b6b !important;
}



.top-nav{ 
    
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
}



.round-profile{
    border-radius: 50%;
    background-color: #6b6b6b;
    height:30px;
    width:30px;
}




                        /* FOOTER */

.footer-line{

    width:80%;
    height:2px;
    background-color: #e5e5e5;
    margin:auto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 50px;
    width: 60%;
}
@media screen and (max-width:840px)
{
    .grid-container{
        display: none;
    }
}
.google-foot-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    gap: 11px;
}

.google-foot-row a{
    font-size: .875rem;
    font-weight: 400;
}
.low-bottom{
    display: flex;
  gap: 2%;
  padding-left: 4%;
  padding-top: 4%;

}

.low-bottom a {
    font-size: .95vw;
}
.low-bottom-right{
    display: flex;
    gap:20px;
    padding-left: 280px;
    flex-wrap: wrap;
}

@media screen and (max-width:1330px){
    .low-bottom-right{
        padding:0;
    }
}
.item1{
    color: rgb(95,99,104);
    font-size: .875rem;
    font-weight: 500;
    font-family: "Google Sans",Helvetica,Arial,sans-serif;
}
.item2{
    color: rgb(95,99,104);
    font-size: .875rem;
    font-weight: 500;
    font-family: "Google Sans",Helvetica,Arial,sans-serif;
}


.grid-container-2{
    display: grid;
  grid-template-columns: auto;
  padding-left: 20%;
  
  padding-top: 5%;
  display: none;
}
@media screen and (max-width:840px)
{
    .grid-container-2{
        display: block;
    }
}

                                       /* HOME */
.h-round-button{
    
  border-radius: 25px;
  width: 123px;
  height: 35px;
  border: 1px solid #d2d2d2;

}
.content-home{
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    position: relative;
    font-weight: 600;
    margin: 10px;
    bottom: 6px;
  
}
.icon{
    position: relative;
    top: 5px;
    font-size: 19px;
    margin: 0 2px;
  }
.home-title{
  display: flex;
  padding-left: 136px;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 20px;
}

@media screen and (max-width: 887px) {
    .h-round-button {
        width: 100%;
    }
}
@media screen and (max-width: 808px) {
    .home-title{
        overflow-x: scroll;
        padding-left: 52px;
    }
}
@media screen and (max-width: 670px) {
    .home-title{
        overflow-x: scroll;
        padding-left: 22px;
    }
}

.h-round-button:focus-within{
    background-color: #f3fff0;
}
.h-round-button:focus-within .icon{
    color:#197500
}

.green-a{
    text-decoration: none;
  color: black;
  display: flex;
}
.h-round-button:focus-within .green-a{
    color:#197500
}


.home-heading{
    padding-left: 10%;
}


/* @media screen and (max-width:600px){
    .home-heading{
        padding-left: 10%;
    }
} */

.home-title1{
    font-size: 22px;
    font-weight: 600;
}
.home-title2{
    font-size: 13px;
    color:#7f7f7f;
}
.home-gallery{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 102px;
    margin-right: 80px;
}

@media screen and (max-width:412px){
    .home-gallery{
        display: flex;
        gap: 0px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-top: 100px;
        margin-left: 30px;
        margin-right: 48px;
      }
    }
    @media screen and (max-width:600px){
        .home-gallery{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 12%;
            margin-right: 12%;
          }
        } 
        @media screen and (max-width:480px){
            .home-gallery{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
              }
            } 
    

.home-gallery .main-image{
  width: 416px;
  height: 234px;
  border-radius: 3%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}


@media screen and (max-width:440px){
    .home-gallery .main-image{
        width: 325px;
        height: 210px;
        margin-left:0;
    }
}
.galley-inside{
    border-radius: 3%;
}
.galley-inside:hover{
    background-color: rgb(246, 246, 246);
}
.gallery{
  margin-top: -100px;
  margin-left: 37px;
  margin-right: 0px;
  margin-bottom: 35px;
}

@media screen and (max-width:412px)
{
    .gallery{
        margin-left: 0;
    }

}

@media screen and (max-width:480px)
{
    .galley-inside,
    .main-image {
    width:100%;
    }

}


.arrow{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f4f9f9;
    border-color: black;
    z-index: 1;
    top: 200px;
    cursor: pointer;
    
}

@media screen and (max-width:412px){
    .arrow{
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 180px;
  cursor: pointer;
    }
}


.gallery{
    display: flex;
}

.arrow1{
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #f4f9f9;
    border-color: black;
    z-index: 1;
    top: 200px;
    cursor: pointer;
    left: 78px;
}

@media screen and (max-width:480px){
    .arrow1{
        position: relative;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: #f4f9f9;
        border-color: black;
        z-index: 1;
        top: 200px;
        cursor: pointer;
        left: -2%;
      }
    }




.sroll-button{
    position: relative;
    left: 40%;
    bottom: 40%;
    border-radius: 50%;
    background-color: rgb(44, 40, 40);
    width: 50px;
    height: 50px;
    opacity: 0.69;
    border-color: #3d3a35;}

.below-card{
    position: relative;
    display: flex;
    gap: 20px;
    bottom: 8%;
    margin-left: 10px;
    margin-right: 10px;
}

.below-card img{
    width: 64px;
  height: 64px;
  border-radius: 16%;
}

.below-card h4{
    font-size: 1rem;
    font-weight: 400;
}
 .below-sub h4{
    font-size: .875rem;
    font-weight: 400;
    color: rgb(95,99,104);
 }
 .below-sub img{
    height: 14px;
  width: 14px;
  padding-left: 4px;
  padding-bottom: 1px;
 }
 
 .gallery-big-slide{
    display: flex;
  align-content: center;

  width: 1534px;
  height: 364px;
  overflow-x: scroll;
  
  scroll-behavior: smooth;
  margin-bottom: 120px;
  }
 

  @media screen and (max-width:1500px){
.gallery-big-slide{
    display: flex;
    align-content: center;
    width: 90%; 
    max-width:1534px;
    height: 364px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-bottom: 120px;
    gap: 40%;
}
  }
  
  @media screen and (max-width:934px)
{
    .gallery-big-slide{
        display: flex;
    align-content: center;
    width: 90%; 
    max-width:1534px;
    height: 364px;
    margin-bottom: 120px;
    gap: 2%;
    overflow-x: hidden;
    margin-left: 10%;
    }
}
 .gallery-slide-1{
    display: flex;
    background: black;
    border-radius: 1rem;
    width: 1302px;
    height: 364px;
    margin-left: 129px;
  margin-right: 105px;
  background-image: linear-gradient(to right,#181818,#181818);
 }



 @media screen and (max-width:1500px){
    .gallery-slide-1{
        display: flex;
        background: black;
        border-radius: 1rem;
        width:90%;
        max-width: 1302px;
        height: 364px;
        margin-left: 129px;
      margin-right: 105px;
      background-image: linear-gradient(to right,#181818,#181818)
    }
      }
    

      @media screen and (max-width:934px){
        .gallery-slide-1{
            display: flex;
            background: black;
            background-image: none;
            border-radius: 1rem;
            width: 49%;
            max-width: 1302px;
            height: 341px;
            margin-left: 2%;
            margin-right: 2%;
            background-image: linear-gradient(to top,#181818,#181818);
            flex-direction: column-reverse;
        }
          }
        


 .slide-1-caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 654px;
    height: 364px;
  
 }

@media screen and (max-width:934px)
{
    .slide-1-caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 16%;
        width: 0px;
        height: 20%;
        width: fit-content;

    }
}
 
 .s-caption{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 3.25vw;
  font-size: 2.75vw;
  letter-spacing: 0;
  font-weight: 500;
  color: white;
 }
@media screen and (max-width:934px){
   .s-caption {
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    letter-spacing: 0;
    font-weight: 500;
    color: white;
    line-height: 1.75vw;
    font-size: 1.95vw;
    }
}
 .ss-caption{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 2.25vw;
  font-size: 1.75vw;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 16px;
  color: white;
  font-size: 1.45rem;
    line-height: 1.4rem;
 }

 @media  screen  and (max-width:934px) {
    .ss-caption{
        font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 2.25rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 16px;
  color: white;
  font-size: 1.25vw;
    line-height: 0.25vw;
    }
    
 }
 .slide-1-image{
    width: 648px;
  height: 364px;
 }

 @media screen and (max-width:1500px){
    .slide-1-image{
        max-width: 648px;
        height: 364px;
    
    }
 }
@media screen and (max-width:934px){
    .slide-1-image{
        max-width: 648px;
    height: 364px;
    width: 100%;
    }
}

 .slider-image{
    border-radius: 0 1rem 1rem 0;
   
 }


@media screen and (max-width:1500px){
    .slider-image{
        border-radius: 0 1rem 1rem 0;
  width: 100%;
  height: 362px;
    }
}
@media screen and (max-width:934px)
{
    .slider-image{
        border-radius: 1rem 1rem 1rem 0;
        width: 100%;
        height: 219px;
    }
}
/* 
 @media screen and (max-width:1500px)
 {
    .slider-image{
        border-radius: 0 1rem 1rem 0;
       width:90%;
       max-width: 648px;
        height: 364px;
    }
 } */
 .round-whitebutton{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 93%;
  }
 

@media screen and (max-width:600px){
    .round-whitebutton{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 89%;
    }
}
@media screen and (max-width:480px){
    .round-whitebutton{
        display: none !important;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 95%;
    }
}


  .big-round-whitebutton{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 95%;
  }

@media screen and (max-width:1500px){
    .big-round-whitebutton{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 92%;
    }
}
@media screen and (max-width:934px)
{
    .big-round-whitebutton{
        display: none !important;;
    }
}
  .big-arrow1{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 146px;
  cursor: pointer;
  left:100px;
  }

  .big-arrow{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 146px;
  cursor: pointer;
  }
  .home-gallery-2{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 102px;
    margin-right: 80px;
}


@media screen and (max-width:412px){
    .home-gallery-2{
        display: flex;
        gap: 0px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-top: 100px;
        margin-left: 30px;
        margin-right: 48px;
      }
    }
    @media screen and (max-width:600px){
        .home-gallery-2{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 12%;
            margin-right: 12%;
          }
        } 
        @media screen and (max-width:480px){
    .home-gallery-2{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
              }
            } 

.home-gallery-2 .main-image{
    width: 416px;
    height: 234px;
    border-radius: 3%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media screen and (max-width:412px){
    .home-gallery-2.main-image{
        width: 325px;
        height: 210px;
        margin-left:0;
    }
}
  
  
.home-gallery-3{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 102px;
    margin-right: 80px;
}
.home-gallery-3  .main-image{
    width: 416px;
    height: 234px;
    border-radius: 3%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  

  
@media screen and (max-width:412px){
    .home-gallery-3{
        display: flex;
        gap: 0px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-top: 100px;
        margin-left: 30px;
        margin-right: 48px;
      }
    }
    @media screen and (max-width:600px){
        .home-gallery-3{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 12%;
            margin-right: 12%;
          }
        } 
        @media screen and (max-width:480px){
    .home-gallery-3{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
              }
            } 
            @media screen and (max-width:412px){
                .home-gallery-3.main-image{
                    width: 325px;
                    height: 210px;
                    margin-left:0;
                }
            }

/* .phone-gallery{
    display: flex;
  gap: 0px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
  gap: 6%;
}

.phone-inside{
    max-width: 29vw;
  height: 22vh;
}

.phone-main-image{
    height: 65%;
  width: 25vw;
  border-radius: 3%;
}

.phone-scroll-button{
    position: relative;
  left: 43%;
  bottom: 45%;
  border-radius: 50%;
  background-color: rgb(44, 40, 40);
  width: 20%;
  height: 20%;
  opacity: 0.69;
}

.phone-below-card{
    position: relative;
  display: flex;
  gap: 10%;
  bottom: 8%;
  margin-left: 1%;
  margin-right: 1%;
}

.phone-below-card  img{
    width: 17%;
  height: 17%;
  border-radius: 16%;
} */



.home-gallery-4{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 102px;
    margin-right: 80px;
}
.home-gallery-4  .main-image{
    width: 416px;
    height: 234px;
    border-radius: 3%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  

  
@media screen and (max-width:412px){
    .home-gallery-4{
        display: flex;
        gap: 0px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-top: 100px;
        margin-left: 30px;
        margin-right: 48px;
      }
    }
    @media screen and (max-width:600px){
        .home-gallery-4{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 12%;
            margin-right: 12%;
          }
        } 
        @media screen and (max-width:480px){
    .home-gallery-4{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 1%;
    margin-right: 1%;
              }
            } 
            @media screen and (max-width:412px){
                .home-gallery-4.main-image{
                    width: 325px;
                    height: 210px;
                    margin-left:0;
                }
            }



.home-gallery-5{
display: flex;
gap: 0px;
overflow-x: scroll;
scroll-behavior: smooth;
padding-top: 100px;
margin-left: 102px;
margin-right: 80px;
}
.home-gallery-5  .main-image{
width: 416px;
height: 234px;
border-radius: 3%;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}



@media screen and (max-width:412px){
.home-gallery-6{
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding-top: 100px;
    margin-left: 30px;
    margin-right: 48px;
    }
}
@media screen and (max-width:600px){
    .home-gallery-6{
        display: flex;
        gap: 0px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-top: 100px;
        margin-left: 12%;
        margin-right: 12%;
        }
    } 
    @media screen and (max-width:480px){
.home-gallery-6{
display: flex;
gap: 0px;
overflow-x: scroll;
scroll-behavior: smooth;
padding-top: 100px;
margin-left: 1%;
margin-right: 1%;
            }
        } 
        @media screen and (max-width:412px){
            .home-gallery-5.main-image{
                width: 325px;
                height: 210px;
                margin-left:0;
            }
        }





        .home-gallery-6{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 102px;
            margin-right: 80px;
            }
            .home-gallery-6  .main-image{
            width: 416px;
            height: 234px;
            border-radius: 3%;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            }
            
            
            
            @media screen and (max-width:412px){
            .home-gallery-6{
                display: flex;
                gap: 0px;
                overflow-x: scroll;
                scroll-behavior: smooth;
                padding-top: 100px;
                margin-left: 30px;
                margin-right: 48px;
                }
            }
            @media screen and (max-width:600px){
                .home-gallery-6{
                    display: flex;
                    gap: 0px;
                    overflow-x: scroll;
                    scroll-behavior: smooth;
                    padding-top: 100px;
                    margin-left: 12%;
                    margin-right: 12%;
                    }
                } 
                @media screen and (max-width:480px){
            .home-gallery-6{
            display: flex;
            gap: 0px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            padding-top: 100px;
            margin-left: 1%;
            margin-right: 1%;
                        }
                    } 
                    @media screen and (max-width:412px){
                        .home-gallery-6.main-image{
                            width: 325px;
                            height: 210px;
                            margin-left:0;
                        }
                    }


                                       /* TABLET */
.tablet-gallery{
  
    margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  
}

.tablet{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;

}
.tablet-inside{
    width: 100%;
    border-radius: 4%;
    min-width: 166px;
}

.tablet-inside:hover{
    background: aliceblue;
}
.tablet-image{
    width: 100%;
    height: 140px;
    max-width: 140px;
    border-radius: 14%;
    margin-top: 7px;
    margin-left: 7px;
}

.tab-content{
    width: 97%;
  padding-left: 3%;
}


.tab-round-whitebutton{
    display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 83%;
}

@media screen and (max-width:480px){
    .tab-round-whitebutton{
        display:none!important;
    }
}


.tab-arrow1{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 53px;
  cursor: pointer;
  left: -27px;
}
.tab-arrow{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 53px;
  cursor: pointer;
}

.tab-heading{
    margin-left: 10%;
    margin-bottom: 3%;
}
.tab-title1{
    font-size: 22px;
    font-weight: 600;
}
.tab-title2{
    font-size: 13px;
    color:#7f7f7f;
}


.tablet-2{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;

}

.tablet-banner{
    display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  height: 324px;
  background: #b39ddb;
  border-radius: 1rem;

}


@media screen and (max-width:767px)
{
    .tablet-banner{
        display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 86%;
  height: 166px;
  background: #b39ddb;
  border-radius: 1rem;
    }
}

.tablet-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}


@media screen and (max-width:767px)
{
    .tablet-content{
        width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
    }
}
.t-image{
width:50%;
}

.tab-image{
    width: 100%;
  border-radius: 1rem;
  height: 100%;
}
.tablet-heading{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 3.25vw;
  font-size: 2.75vw;
  letter-spacing: 0;
  font-weight: 400;
}

@media screen  and (max-width:767px){
    .tablet-heading{
        font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 7.25vw;
  font-size: 3.75vw;
  letter-spacing: 0;
  font-weight: 400;
    }
}
@media screen  and (max-width:480px){
    .tablet-heading{
        font-family: "Google Sans Display",Roboto,Arial,sans-serif;
        line-height: 6.25vw;
        font-size: 4.85vw;
        letter-spacing: 0;
        font-weight: 400;
    }
}


.tablet-sub-head{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 1.5vw;
  font-size: 1vw;
  letter-spacing: .00625vw;
  font-weight: 500;
}

@media screen and (max-width:767px){
    .tablet-sub-head{
        font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 1.5vw;
  font-size: 2vw;
  letter-spacing: .00625vw;
  font-weight: 500;
    }
}

@media screen and (max-width:480px){
    .tablet-sub-head{
        font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: 1.5vw;
    font-size: 2.25vw;
    letter-spacing: .00625vw;
    font-weight: 500;

    }
}
.grey-scale{
    font-size: .85rem;
  color: #878787;
}
.grey-star{
    height: 15px;
  width: 15px;
  padding-left: 2px;
}

.tablet-3{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;
}


.tablet-4{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;

}

.tablet-5{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;

}

.tablet-6{
    display: flex;

  overflow-x: scroll;
  scroll-behavior: smooth;

}


               /* WATCH */


.watch-banner{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    height: 324px;
    background-color: rgba(244,180,0,1);
    border-radius: 1rem;
}

@media screen and (max-width:767px)
{
    .watch-banner{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 86%;
        height: 166px;
        background-color: rgba(244,180,0,1);
        border-radius: 1rem;
    }
}
.watch-caption{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

@media screen and (max-width:767px){
    .watch-caption{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3%;
    }
}
.watch-image{
    width:50%;
}

.watch-main-image{
    width: 100%;
  border-radius: 1rem;
  height: 100%;
}

.watch-heading{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    line-height: 3.25vw;
    font-size: 2.75vw;
    letter-spacing: 0;
    font-weight: 400;
}


@media screen  and (max-width:767px){
    .watch-heading{
        font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 7.25vw;
  font-size: 3.75vw;
  letter-spacing: 0;
  font-weight: 400;
    }
}
@media screen  and (max-width:480px){
    .watch-heading{
        font-family: "Google Sans Display",Roboto,Arial,sans-serif;
        line-height: 6.25vw;
        font-size: 4.85vw;
        letter-spacing: 0;
        font-weight: 400;
    }
}


.watch-sub-head{
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: 1.5vw;
    font-size: 1vw;
    letter-spacing: .00625vw;
    font-weight: 500;
}



@media screen and (max-width:767px){
    .watch-sub-head{
        font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 1.5vw;
  font-size: 2vw;
  letter-spacing: .00625vw;
  font-weight: 500;
    }
}

@media screen and (max-width:480px){
    .watch-sub-head{
        font-family: "Google Sans",Roboto,Arial,sans-serif;
    line-height: 1.5vw;
    font-size: 2.25vw;
    letter-spacing: .00625vw;
    font-weight: 500;

    }
}



.blue-watch-banner{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    height: 324px;
    background-color: rgba(66,133,244,1);
    border-radius: 1rem;
}

@media screen and (max-width:767px)
{
    .blue-watch-banner{
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 4%;
        margin-bottom: 4%;
        width: 86%;
        height: 166px;
        background-color: rgba(66,133,244,1);
        border-radius: 1rem;
    }
}


                      /* APPS */


.bh-round-button{
    border-radius: 25px;
    width: 110px;
    height: 31px;
    border: 1px solid #d2d2d2;
}
.bh-round-button:focus-within{
    background-color: #e6f3ef;
}
.bb-black{
    color: #6b6b6b !important;
    background-color: white !important;
    margin: auto !important;
    padding: 0 !important;
}

.tab-scrolling{
margin-left: 10%;
gap: 1%;
}

.bb-black:focus-within{
    background-color: #e6f3ef!important;
}
.bb-black:focus-within{
    color: #0b741b!important;
}

.tab-content-bottom{
    /* margin-left:10%; */
    padding-left: 10%;
    margin-bottom: 6%;
}

.scroll-inside{
display: grid;
grid-template-columns: auto auto auto;
}

.scroll-content{
    display: flex;
    width: 445px;
    height: auto;
    border-radius: 4%;
    align-items: center;
}

@media screen and (max-width:600px)
{
    .scroll-content{
        display: flex;
        width: 380px;
        height: 88px;
        border-radius: 4%;
        align-items: center;
    }
}
.scroll-content:hover{
    background-color: #eeeeee;
}
.scroll-icon{
    height: 64px;
  min-width: 64px;
  width: 15%;
  border-radius: 14%;
  border-color: black;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
  margin: 2%;
}
.scroll-main-heading{
    font-size: 1rem;
    font-weight: 400;
  
    line-height: 1.5rem;
    letter-spacing: 0;
    color: rgb(32,33,36);
}

.scroll-sub-heading{
    font-size: .875rem;
    font-weight: 400;
    color: rgb(95,99,104);
    letter-spacing: .2px;
}
.number-scroll{
    color: rgb(95,99,104);
    margin: 2%;
}



.dispear-gone{
    display:flex;
    margin-left:10%;
}
.scrollable-model{
    display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.app-round-whitebutton{
    display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 83%;
}


.scrollable-model-1{
    display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollable-model-2{
    display: flex;
  overflow-y: scroll;
  scroll-behavior: smooth;
}


.app-changing-heading{
    margin-left: 10%;
    margin-bottom: 2%;
}
.changing-heading{
    font-size: 22px;
  font-weight: 600;
}



                                /* MOVIE */
.movies-banner{
    display: flex;
    width: 85vw;
    margin-left: 7%;
    margin-right: 7%;
    flex-direction: row;
    background: aliceblue;
    margin-top: 4%;
    border-radius: 1rem;
    margin-bottom: 2%;
    height: 200px;
}
.movie-banner-title{
    width: 83%;
  margin: auto;
  padding: 2%;

}

.banner-heading{
    font-family: Roboto;
    font-weight: 500;
    font-size:clamp(1.05rem,1rem,3vw);
    margin-bottom: 3%;
}
.banner-sub-heading{
    font-family: Roboto;
    font-weight:400;
    margin-bottom: 3%;
}

.red-sub-heading{
    color:#c8245c
}
.movie-banner-image{
    width: 50%;
}
.yg-image{
    height: 180px;
  width: 80%;
}

.black-big-details{
    display: flex;
    width: 100%;
    background-color: #050505;
    height: 750px;
  
}
@media screen and (max-width:840px)
{
    .black-big-details{
        display: none;
    }
}

.black-right{
    width: 30%;
    background-color: #050505;
}

.the-game-video{
    width: 70%;
    /* background: linear-gradient(to right,rgb(5, 5,5) 5%,transparent 50%),linear-gradient(to bottom,#050505 0,transparent 56%),linear-gradient(to left,#050505 0,transparent 56%),linear-gradient(to top,#050505 0,transparent 56%); */
    
}
.g-video{
    width:100%;
    /* mix-blend-mode: multiply; */
}
.video-layout{
    width: 100%;
    position: relative;
    height: 787px;
    background: linear-gradient(to right,rgb(5, 5,5) 5%,transparent 50%),linear-gradient(to bottom,#050505 0,transparent 56%),linear-gradient(to left,#050505 0,transparent 56%),linear-gradient(to top,#050505 0,transparent 56%);
    bottom: 88%;
}

.h-white-heading{
    position: relative;
    top: 33%;
    left: 52%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    gap: 17px;
}
.white-inside-black{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    line-height: 4.75rem;
    /* font-size: 4rem; */
    font-size: clamp(1.55rem, 3.25rem, 4rem);

    letter-spacing: 0;
    font-weight: 400;
    font-weight: 500;
    color:white;
   
}
.green-head{
    color:#00a173
}
.small-heading{
    color:#757a7f
}

.icon-star-rating{
    display: flex;
    justify-content: space-between;

}
.rating{
    font-size:1rem;
    color:white;
    font-weight:500;
}

.rating-below{
    font-size: 0.85rem;
    color:#757a7f;

}
.rating-image{
    height:48px;
    width:48px;
    border-radius: 20%;
}
.vertical-line{
    width: 1px;
    height: 35px;
    background-color:#757a7f;
    margin-top: auto;
    margin-bottom: auto;
}
.no-downloads{
    font-size:1rem;
    color:white;
    font-weight:500; 
}
.below-downloads{
    font-size: 0.85rem;
    color:#757a7f;
}
.rated{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rated-titles{
    font-size: 0.85rem;
    color:#757a7f;
}

.four-green-buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70vw;
}
.first-green-button{
    width: 20%;
    height: 46px;
    border-radius: .75rem;
     background-color: #00a173;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.second-green-button{
    width: 20%;
    height: 46px;
    border-radius: .75rem;
    background-color:transparent;
    color:#00a173;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid white;
}
.three-green-button{
    width: 20%;
    height: 46px;
    border-radius: .75rem;
    background-color:transparent;
    color:#00a173;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.four-green-button{
    width: 20%;
    height: 46px;
    border-radius: .75rem;
    background-color:transparent;
    color:#00a173;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.black-button{
    width: 115px;
  height: 46px;
  border-radius: 2.75rem;
  background-color: #030303;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-below-text{
    color:#a6aaae;
 
}
.below-footer-text{
    display:flex;
    flex-direction: row;
    width: 990px;
    color:#a6aaae;
}
.mobile-view-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    height: 63vh;
    display:none;
}
@media screen and (max-width:840px)
{
    .mobile-view-details{
        display:flex;
    }
}
.mobile-video{
    width:100%;
}
.mobile-black{
    width: 100%;
  position: relative;
  height: 300px;
  background: linear-gradient(to top,#050505 0,transparent 56%);
  bottom: 293px;

}
.center-mobile-trailer{
    position: absolute;
    top: 22%;
    left: 45%;
    width: 115px;
    height: 46px;
    border-radius: 2.75rem;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-mobile-image{
    width:96px;
    height:96px;
    border-radius:1rem;
}
.mobile-image{
    display: flex;
    flex-direction: column;
    background-color: #050505;
    gap: 20px;
}
.mobile-inside-black{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
    line-height: 3.25rem;
    font-size: 2.75rem;
    letter-spacing: 0;
    font-weight: 400;
    font-weight: 500;
    color:white;
}
.mobile-green-head{
    color:#00a173;
    font-size: 1rem;

}
.green-heading{
    display:flex;
    padding: 4%;
}
.mobile-rating{
    display:flex;
    flex-direction: row;
    gap: 4%;
    padding-left: 4%;
}
.mobile-contents{
    
padding-left: 2%;
}
.mobile-green-buttons{
    width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 4%;
}
@media screen and (max-width:600px)
{
    .mobile-green-buttons{
        display: none;
    }
}
.m1-green-button{
    width: 30%;
  height: 40px;
  border-radius: .75rem;
  background-color: #00a173;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width:600px)
{
    .m1-green-button{
        width: 60%;
        height: 40px;
        border-radius: .75rem;
        background-color: #00a173;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.m2-green-button{
    width: 30%;
  height: 40px;
  border-radius: .75rem;
  background-color: transparent;
  color: #00a173;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
}
@media screen and (max-width:600px)
{
    .m2-green-button{
 width: 60%;
  height: 40px;
  border-radius: .75rem;
  background-color: transparent;
  color: #00a173;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
    }
}

.m3-green-button{
    width: 10%;
    height: 46px;
    border-radius: .75rem;
     background-color:transparent;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.m4-green-button{
    width: 10%;
    height: 46px;
    border-radius: .75rem;
     background-color:transparent;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mobile-below-text{
    padding-left: 4%;
  padding-right: 15%;
  color:#7c8187
}



.mobile-footer-text{
    display: flex;
    flex-direction: row;
    padding-left: 4%;
    padding-right: 15%;
    color:#7c8187
}
.mobile-green-buttons-2{
    display: none;

}
@media screen and (max-width:600px)
{
    .mobile-green-buttons-2{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    align-items: center;
    }
}
.game-detail-scroll{
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    display:flex;
   justify-content:space-between;
}
.game-detail-inside{
    max-width:829px;
    width:100%;
    display: flex;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap:18px;
    height: 300px;
    margin-bottom: 10%;
}
.game-detail-image{
  border-radius: 1rem;
}
@media screen and (max-width:1200px)
{
    .game-detail-image{
        width:362px;
        height:204px;
    }
}

.game-arrow1{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 111px;
  cursor: pointer;
  left: -26px;
}
.game-arrow{
    position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #f4f9f9;
  border-color: black;
  z-index: 1;
  top: 111px;
  cursor: pointer;
}
.game-round-whitebutton{
    display:none;

}

.game-detail-inside:hover .game-round-whitebutton{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 857px;
    width: 100%;
  
}
.game-title-picture{
    display:flex;
    flex-direction: row;
    color:white;
    font-weight:600;
    padding:5%;
    font-family:inherit;
    gap:8px;
   
}
.game-title-picture h3{
    font-weight:600;
    font-family:inherit;
    font-size: 1.25rem;
}

.game-left-black-container{
    background-color: #282828;
    max-width: 344px;
    width:100%;
    border-radius: 16px;
    height:991px;
}
.sub-play-title{
    color:#a6aaae;
    padding: 4%;
}
.green-learn-more{ 
    color:#27e19c;
}
.parallel-grey-line{
    height:1px;
    width:80%;
    background-color:#3c3c3c;
    margin:auto;
   

}
.sub-play-title-loop{
    padding:4%;
    color:#a6aaae;
    
    

}
.game-ul-head{
    padding: 8%;
color:white;
}
.game-ul-head h3{
    font-weight:600;
    font-family:inherit;
    font-size: 1.25rem;
    text-align: start;
}
.gameul{
    color:white;
    margin:auto;
 
}
.game-li{
    font-family:inherit;
    color:white;
}
.game-bottom-pargraph{
    padding: 4%;
}
.game-bottom-pargraph p{
    font-size:.75rem;
}
.game-bottom-pargraph h3{
    font-size:.95rem;
    color:#00a173
}
.about-details-header h3{
    font-size :1.45em;
    font-weight:600;
    color:#030303


}
.wite-game-arrow{
    width:50px;
    height:50px;
    border-radius: 50%;
}