*{
    margin:0;
    padding:0;
}


.first-nav{
    display: flex !important;
    background-color: white !important;
}

/* @media screen and(max-width:991px){
    .first-nav{
     display: flex !important;

    }
    
} */
.ahead{
  font-size: 1.5rem !important;
  font-weight: 600;
  color: #6b6b6b !important;
}

.atitle{
    
    font-weight: 523 !important;
}

.begining{
    padding-left: 30px !important;
    flex-wrap: nowrap !important;
}




.greenswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    
    width:51px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #259d04;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
    


}


.greenswitch:focus-within::after{
    transform: scaleX(1);


}

.greenswitch:focus-within > .green-cc
{
    color:green
}

.redswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    width:58px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #e70909;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
}


.redswitch:focus-within::after{
    transform: scaleX(1);


}

.redswitch:focus-within > .red-cc
{
    color:red
}


.blackswitch::after{
    content: "";
    position: absolute;
    bottom: 0;
    width:70px;
    height:8px;
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #030303;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: scaleX(0);
    transition: all.5s;
}


.blackswitch:focus-within::after{
    transform: scaleX(1);


}
.blackswitch:focus-within > .black-cc
{
    color:black
}



.search{
    background-color: white;
    border:0;
    border-radius: 50%;
}



.search-container {
    position: absolute;
    left:33%;
    border-style: solid;
    display: none;
  
}


.search:focus-within > .search-container{
    display: initial;
   
}

/* .search:act{
    display: none !important;
} */


.input-search{
  width: 500px;
  border: 0;
  padding-left: 20px;
}

#dispearing{
    display: block!important;
    opacity: 1;
    
}

.top-nav{ 
    
  padding-right: 17px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.round-profile{
    border-radius: 50%;
    background-color: #6b6b6b;
    height:30px;
    width:30px;
}




                        /* FOOTER */

.footer-line{

    width:80%;
    height:2px;
    background-color: #e5e5e5;
    margin:auto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 50px;
    width: 60%;
}

.google-foot-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    gap: 11px;
}

.google-foot-row a{
    font-size: .875rem;
    font-weight: 400;
}
.low-bottom{
    display: flex;
    gap: 50px;
    padding-left: 150px;
    padding-top:50px;

}

.low-bottom a {
    font-size: 13px;
}
.low-bottom-right{
    display: flex;
    gap:20px;
    padding-left: 280px;
}
.item1{
    color: rgb(95,99,104);
    font-size: .875rem;
    font-weight: 500;
    font-family: "Google Sans",Helvetica,Arial,sans-serif;
}
.item2{
    color: rgb(95,99,104);
    font-size: .875rem;
    font-weight: 500;
    font-family: "Google Sans",Helvetica,Arial,sans-serif;
}


                                       /* HOME */
.h-round-button{
    
  border-radius: 25px;
  width: 123px;
  height: 35px;
  border: 1px solid #d2d2d2;

}
.content-home{
    display: flex;
  justify-content: center;
  font-size: 0.85rem;
  top: 3px;
  position: relative;
  font-weight: 600;
}
.icon{
    position: relative;
    top: 5px;
    font-size: 19px;
    margin: 0 2px;
  }
.home-title{
  display: flex;
  padding-left: 136px;
  padding-top: 30px;
  padding-bottom: 70px;
  gap: 20px;
}

.h-round-button:focus-within{
    background-color: #f3fff0;
}
.h-round-button:focus-within .icon{
    color:#197500
}

.green-a{
    text-decoration: none;
  color: black;
}
.h-round-button:focus-within .green-a{
    color:#197500
}


.home-heading{
    padding-left:150px;
}


.home-title1{
    font-size: 22px;
    font-weight: 600;
}
.home-title2{
    font-size: 13px;
    color:#7f7f7f;
}
.home-gallery{
  display: flex;
  gap: 0px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}


.home-gallery .main-image{
  width: 416px;
  height: 234px;
  border-radius: 3%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.galley-inside{
    border-radius: 3%;
}
.galley-inside:hover{
    background-color: rgb(246, 246, 246);
}
.gallery{
  margin-top: -100px;
  margin-left: 37px;
  margin-right: 0px;
}
.arrow{
    position: relative;
    right: 100px;
    height: 56px;
    width: 115px;
    border-radius: 50%;
    background-color: #f4f9f9;
    border-color: black;
    z-index: 1;
    top: 200px;
    cursor: pointer;
    
}
.gallery{
    display: flex;
}

.arrow1{
    position: relative;
    left: 100px;
    height: 56px;
    width: 115px;
    border-radius: 50%;
    background-color: #f4f9f9;
    border-color: black;
    z-index: 1;
    top: 200px;
    cursor: pointer;
}


.sroll-button{
    position: relative;
    left: 40%;
    bottom: 40%;
    border-radius: 50%;
    background-color: rgb(44, 40, 40);
    width: 50px;
    height: 50px;
    opacity: 0.69;
    border-color: #3d3a35;}

.below-card{
    position: relative;
    display: flex;
    gap: 20px;
    bottom: 8%;
    margin-left: 10px;
    margin-right: 10px;
}

.below-card img{
    width: 64px;
  height: 64px;
  border-radius: 16%;
}

.below-card h4{
    font-size: 1rem;
    font-weight: 400;
}
 .below-sub h4{
    font-size: .875rem;
    font-weight: 400;
    color: rgb(95,99,104);
 }
 .below-sub img{
    height: 14px;
  width: 14px;
  padding-left: 4px;
  padding-bottom: 1px;
 }
 
 .gallery-big-slide{
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 129px;
  padding-right: 105px;
 }

 .gallery-slide-1{
  display: flex;
  background: black;
  border-radius: 1rem;
 }
 .slide-1-caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
 }
 .s-caption{
    font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  line-height: 3.25rem;
  font-size: 2.75rem;
  letter-spacing: 0;
  font-weight: 500;
  color: white;
 }

 .ss-caption{
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  line-height: 2.25rem;
  font-size: 1.75rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 16px;
  color: white;
 }
 .slider-image{
    border-radius: 0 1rem 1rem 0;
 }